
.image-card {
  width: 85%;                
  max-width: 1000px;       
  height: 520px;
  background-image: url("/public/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3b7c87;
  border-radius: 14px;

  margin: 0 auto;            
  position: relative;
  margin-top: 20px; 
 
}
.header {
  height: 8%;
  width:100%;
  background-color: #e0f6fa;
  display: flex;
}
.app-logo{
  /* width: 18%; */
  height: 40%;
  align-items: center;
  margin-top: 1.2%;
  /* margin-bottom: 2.5%; */
  /* padding:  0 2%; */
}
.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  background: #ffffff;
  padding: 26px;
  border-radius: 10px;
}
.login-card input {
  width: 100%;
  height: 44px;
  padding: 10px 44px 10px 12px;
  font-size: 14px;
  border: 1px solid #cfdfe4;
  border-radius: 6px;
  box-sizing: border-box;
}
.password-wrapper {
  position: relative;
  width: 100%;
}
.password-icon {
  position: absolute;
  right: 14px;        
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}
.login-card button {
  width: 100%;                 
  height: 44px;                
  margin-top: 16px;
  background: #2f5d6b;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.login-card button:hover {
  background: #264e58;
}
.error {
  color: red;
  font-size: 15px;
  margin-top: 4px;
}
.login-page{
  background-color: #abd6de;
  height:100vh;
}


