 .search-row { 
  display: flex;
  gap: 2%;
  margin-bottom: 3%;
}

.search-row input {
  flex: 1;
  padding: 2%;
  /* border-radius: 4px; */
  border: 1px solid #d6e7ec;
}
.search-row button {
  background: #46b4d6;
  color: white;
  align-items: center;
  width:9%;
  /* height: 15%; */
  /* border: none; */
  border-radius: 3%;
  /* padding: 0 2%;  */
}
.filter-row {
  display: flex;
  gap: 2%;
  margin-bottom: 3%;
}
.filter-row button {
  padding: 6px 12px;
  border: 1px solid #34c7f4;
  background: #ffffff;
  cursor: pointer;
}
.filter-row button.active {
  background: #46b4d6;
  /* font-weight: 600; */
}
.users-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px; 
  cursor: pointer;
  /* overflow-x: auto; */
  min-width: 100%;
  /* border-spacing: 0 4%;  */
}
.users-table tbody tr {
  /* background: #ffffff; */
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
.users-table tbody tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.users-table tbody tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  /* padding-bottom: 1%; */
}


.users-table thead th {
  background: #67cede;
  padding: 10px;
  font-size: 75%;
  font-weight: 600;
  text-align: center;
  height: 8%;
  white-space: nowrap;
  vertical-align: middle;

  /* border-spacing: 0 4%; */
}
/*.table-row-even {
  background:#cfeef5;
}
.row-odd {
  background: #e6f6fa;
}*/
.table-row-even {
  background: #cfeef5;   /* light blue */
}

.table-row-odd {
  background: #ffffff;   /* white */
}

.active-row {
  background:#67cede !important;
}
.users-table tbody td {
  padding: 1%;
  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  
}
.id-cell {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap:8px;
}
.id-text {
  font-size: 14px;         /* SAME as Name column */
  line-height: 3;          /* IMPORTANT */
  display: flex;
  align-items: center;     /* force vertical centering */
}


.table-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* align-items: center; */
  /* object-fit: cover; */
}

.verified {
  background: #d9f6e5;
  color: #1e8449;
  padding: 5px;
 
  font-size: 100%;
  cursor: pointer;
}

.not-verified {
  background: #fde2e2;
  color: #c0392b;
  padding: 5px;
  font-size: 100%;
  cursor: pointer;
}



.delete-small {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.delete-small:hover {
  color: #e53935;
}

.email-value {
  word-break: break-word;
  overflow-wrap: break-word;
}

.detail-row p,
.detail-row a {
  margin: 0;
  max-width: 100%;
  white-space: normal;        /* allow wrap */
  word-break: break-all;      /* force break if needed */
  overflow-wrap: anywhere;   /* modern fix */
}



