.quick-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7%;
  row-gap: 3%;
}

.quick-title {
  font-size: 100%;
  font-weight: 600;
}
.menu-icon {
  width: 7%;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 2px;
  background: #4a6f78;
  margin: 3px 0;
 
}

.sidebar-item {
  width: 90%;
  background: #ffffff;
  border: 1px solid #a1c5d0;
  margin-bottom: 7%;
  border-radius: 7%;
  display: flex;
  align-items: center;
  gap: 4%;
  font-size: 13px;
  cursor: pointer;
}

.sidebar-item span:last-child {
  font-weight: 550;
  font-size: 90%;
}

.sidebar-item.active {
  background: #67cede;
  font-weight: 600;
}
.plus-box {
  width: 20px;
  height: 20px;
  border: 1px solid #568d9a;
  border-radius: 4px;
  /* padding: 1%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 14px;
  font-weight: 600;
  color: #49717b;
}