.users-header {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center; 
  /* width:5%; */
  gap: 5%;
}

.header-logo {
  height: 25px;
  align-items: center;
}

